:root {
  --strong-gray1: #212529;
  --strong-gray2: #343A40;
  --strong-gray3: #495057;
  --gray1: #6C757D;
  --gray2: #ADB5BD;
  --light-gray1: #CED4DA;
  --light-gray2: #DEE2E6;
  --strong-white: #E9ECEF;
  --white: #F8F9FA;

}

#modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  &.fechado {
    visibility: hidden;
    transition: all 0.3s ease;
    opacity: 0;
  }

  &.aberto {
    visibility: visible;
    opacity: 1;
  }

  & #fundoModal {
    position: absolute;
    background-color: var(--strong-gray1);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    backdrop-filter: blur(1px);
  }

  & #containerModal {
    display: flex;
    flex-flow: column;
    cursor: default;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    padding-bottom: 2.5rem;
    border-radius: 2rem;
    max-width: 75rem;
    background-color: var(--light-gray2);
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  
    & h2 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  
    & #infosFilme {
      display: flex;
      gap: 3rem;
  
      & h3 {
        font-size: 2rem;
        font-weight: 600;
      }
  
      & #posterFilme {
        background-image: url(https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg);
        background-position: 50%;
        background-size: cover;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.25);
        width: 30rem;
        height: 44rem;
      }
  
      & #textoFilme {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        max-width: 30rem;
        
  
        & h3 {
          margin-bottom: 0.5rem;
        }
  
        & p {
          font-size: 1.8rem;
        }
      }
    }
  
    & button {
      cursor: pointer;
      border: none;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 1rem 3rem;
      border-radius: 1rem;
      background-color: var(--strong-gray2);
      color: var(--strong-white);
      box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
  
      &:hover {
        background-color: var(--strong-white);
        color: var(--strong-gray2);
      }
    }
  }
}



